body{
  background-image: url("./img/NewproductBack.jpg");
  background-size: cover;
}
nav{
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
  height: 80px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
  html {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }

  ul{
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
  }
  li{
    /*position: relative;*/
    display: inline-block;
  }
  li a{
    color: #333;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
  }
  li a:hover{
    /*color: #597812;*/
    color: #333;
    font-weight:normal;
    text-decoration: underline;
  }
  .menu {
    font-family: 'omyu_pretty' ;
    margin-top: -200px;
    margin-bottom: -80px;
    margin-left: -10px;
    margin-right: -30px;
   width: 4000px;
   height: 60px;
   text-align: center;
   max-width: 100%;
   background-position: center;
   background-size: cover;
   background-color: #FFFFFF;color: white;
   position: fixed;
   z-index: 1;
 }
.h_left{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
 
 }
 .h_right{
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
 }
  #header-logo{
    margin-top: -10PX;
    margin-bottom: 100px;
  }
  #main_image {
    position: relative;
    width: 1200px;
    height: 450px;
    /* image 가운데 정렬 */
    margin-left: calc((100% - 1200px)/2);
    margin-right: calc((100% - 1200px)/2);
    margin-top: 200px;
    margin-bottom: 40px;
    background-color: #ababab;
    background-image: url("./img/cherryneco.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.leftbtn {
    position: absolute;
    width:60px;
    height: 70px;
    margin-top: 195px;
    margin-left: 20px;
    outline-style: none;
}
.rightbtn {
    position: absolute;
    width: 60px;
    height: 70px;
    margin-top: 195px;
    margin-left: 1100px;
    outline-style: none;
    
}
